ticino - events, not elephants

* Welcome!

	ticino is a tiny type-safe java event framework with a minimalistic class interface.
	
	Events are small pieces of data, sent ("dispatched") by one piece of code to another piece of code. 
	The special charm of events is that sender and receiver are decoupled by an intermediary (the event framework).
	 
	Unfortunately, most known event frameworks either come with a real heavy load of dependencies and "additional features", 
	or are embedded in other frameworks, and hence are not usable stand alone.

	ticino instead follows the silent broker pattern:
	
	* it uses java reflection to find out handler methods of handler instances, reducing code redundancy
	
	* it is fully compatible with other event frameworks, so you can use two frameworks in parallel 
	
	* it comes along with literally no runtime dependencies, so there will be no transitive dependency clash simply
	  because there are no transitive dependencies within ticino.
	
	* the core jar is only 10kb in size so there is no big download when building and checking for updates
	
	* ticino uses the MIT license - no license, copyright or copyleft problems at all
	
	See the cookbook for examples and best practices
	
* Downloading ticino core libraries with maven
  
+--------------------------------
<dependencies>
    ...
	<dependency>
		<groupId>${project.groupId}</groupId>
		<artifactId>ticino-core</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
+--------------------------------

* Download manually

  * current binaries jar is located at 
      {{http://repo1.maven.org/maven2/net/micwin/ticino/ticino-core/${project.version}/ticino-core-${project.version}.jar}}
      
  * current sources jar is located at 
      {{http://repo1.maven.org/maven2/net/micwin/ticino/ticino-core/${project.version}/ticino-core-${project.version}-sources.jar}}

  * current javadoc jar is located at 
      {{http://repo1.maven.org/maven2/net/micwin/ticino/ticino-core/${project.version}/ticino-core-${project.version}-javadoc.jar}}