#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

ticino - entities

$h1 Welcome!

This is the ticino algorithms project.

Three classes to rule them all. Ambitious, truly - hopefully not condemned from the beginning.

For now, this only holds three interfaces that draft a functional future of java onto jdk 1.6.