ticino static context

	When wiring small applications with ticino, you can use the static context class net.micwin.ticino.Ticino to completely avoid configuring with a spring context.
	
	With this class, a single EventScope is put in a static field and used for all accesses to ticino.
   
   	To use the static event scope class net.micwin.ticino.Ticino, define the following dependency : 
   
+--------------------------------
<dependencies>
  <dependency>
    <groupId>${project.groupId}</groupId>
	  <artifactId>ticino-static</artifactId>
	  <version>${project.version}</version>
  </dependency>
</dependencies>
+--------------------------------

	Now, you can directly register to the static event scope:

+--------------------------------

Ticino.register (MyEvent.class, new Object () {
	public process (MyEvent evt) {
		System.out.println ("got an event : " + evt) ; 
	}
});

+--------------------------------

	And, elsewhere, fire the event:
	
+--------------------------------

Ticino.dispatch (new MyEvent("this is an important message")) ; 

+--------------------------------

	To be more flexible in the future, you also might use the method Ticino.getScope() instead : 
	
+--------------------------------

public class Demo {

	static EventScope eventScope = Ticino.getScope() ; 
	
	public static void main (String [] args) {
	
		eventScope.register (MyEvent.class, new Object () {
			public process (MyEvent evt) {
				System.out.println ("got an event : " + evt) ; 
			}
		});
		
		eventScope.dispatch (new MyEvent()) ; 
	}
}

+--------------------------------
	

	Some notes here:

	* the static event scope is reachable by all classes in the same vm, so be aware that this might be a significant security risk.

	
	

